<div id="footer">
    @Html.ActionLink("TarvleBulge Locations!", "Index", "Locations")
    @Html.ActionLink("TarvleBulge Experiences!", "Index", "Experiences")
    @Html.ActionLink("TarvelBulge People!", "Index", "People")
</div>