<div id="footer">
    <div>
    @Html.ActionLink("TarvleBulge Locations!", "Index", "Locations")
    </div>
    <div>
    @Html.ActionLink("TarvleBulge Experiences!", "Index", "Experiences")
    </div>
    <div>
    @Html.ActionLink("TarvelBulge People!", "Index", "People")
    </div>
    <div>
    @Html.ActionLink("Go Home TarvleBulge!", "Index", "Home")
    </div>
</div>