<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
        <p>@Html.ActionLink("Go Home TarvleBulge!", "Index", "Home")</p>
    </div>
</body>
</html>
