<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width"/>
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css"/>
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="content-wrapper">
             @Html.Partial("_Header.cshtml")
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @Html.Partial("_Footer.cshtml")
             @RenderBody()
        </section>          
    </div>
    <footer>
        <div class="content-wrapper">
        </div>
    </footer>
</body>
</html>
